.hero-video {
  pointer-events: none !important;
}
.hero-video::-webkit-media-controls {
  display: none !important;
}
.hero-video::-webkit-media-controls-panel {
  display: none !important;
}
.hero-video::-webkit-media-controls-play-button {
  display: none !important;
}
.hero-video::-webkit-media-controls-overlay-play-button {
  display: none !important;
}
